<div class="container py-gutter">
    <div class="card overflow-hidden">
      <div class="h-64 relative overflow-hidden">
        <img class="w-full h-full object-cover" src="../../../../assets/img/demo/landscape.jpg">
        <div class="absolute bg-contrast-black opacity-25 top-0 right-0 bottom-0 left-0 w-full h-full z-0"></div>
  
        <img class="avatar h-24 w-24 absolute top-6 ltr:left-4 rtl:right-4 sm:hidden"
             src="../../../../assets/img/avatar.png">
      </div>
  
      <div class="z-10 relative -mt-16 px-gutter flex items-center">
  
        <img @scaleIn
             class="avatar h-24 w-24 flex-none align-start hidden sm:block border-3 border-white"
             src="../../../../assets/img/avatar.png">
  
        <div class="max-w-full flex-auto sm:ltr:ml-6 sm:rtl:mr-6">
          <div class="h-16 flex items-center">
            <h1 @fadeInRight class="headline text-contrast-white m-0">David Smith</h1>
          </div>
  
         
        </div>
      </div>
    </div>
  

<div class="mt-6 flex flex-col md:flex-row md:items-start">
    <div class="flex-auto">
      <div class="card">
        <div class="px-gutter py-4 border-b">
          <h2 class="title m-0">About</h2>
        </div>
  
        <div class="px-gutter py-4" gdColumns="1fr 1fr" gdColumns.xs="1fr" gdGap="16px">
          <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
            <div @scaleIn
                 class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
              <ic-icon [icon]="icPhone" size="20px"></ic-icon>
            </div>
  
            <div @fadeInRight>
              <p class="m-0 body-1">+1 (930) 502-3182</p>
              <p class="m-0 caption text-hint">Business</p>
            </div>
          </div>
  
          <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
            <div @scaleIn
                 class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
              <ic-icon [icon]="icWork" size="20px"></ic-icon>
            </div>
  
            <div @fadeInRight>
              <p class="m-0 body-1">Subject - Mthematics</p>
              <p class="m-0 caption text-hint">Previously Designer at HotStuff</p>
            </div>
          </div>
  
          <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
            <div @scaleIn
                 class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
              <ic-icon [icon]="icMail" size="20px"></ic-icon>
            </div>
  
            <div @fadeInRight>
              <p class="m-0 body-1">david.smith@example.com</p>
              <p class="m-0 caption text-hint">Business inquiries only</p>
            </div>
          </div>
  
          <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
            <div @scaleIn
                 class="w-10 h-10 rounded-full bg-primary-light text-primary ltr:mr-3 rtl:ml-3 flex items-center justify-center">
              <ic-icon [icon]="icAccessTime" size="20px"></ic-icon>
            </div>
  
            <div @fadeInRight>
              <p class="m-0 body-1">Usually available 9am-5pm</p>
              <p class="m-0 caption text-hint">Call +1 (930) 242-5186 for important things</p>
            </div>
          </div>
  
          <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
            <div @scaleIn
                 class="w-10 h-10 rounded-full bg-gray-light text-dark ltr:mr-3 rtl:ml-3 cursor-pointer flex items-center justify-center">
              <ic-icon [icon]="icAdd" size="20px"></ic-icon>
            </div>
  
            <p @fadeInRight class="m-0 body-1 cursor-pointer">Add an address</p>
          </div>
  
          <div class="py-3" fxLayout="row" fxLayoutAlign="start center">
            <div @scaleIn
                 class="w-10 h-10 rounded-full bg-gray-light text-dark ltr:mr-3 rtl:ml-3 cursor-pointer flex items-center justify-center">
              <ic-icon [icon]="icWhatshot" size="20px"></ic-icon>
            </div>
  
            <p @fadeInRight class="m-0 body-1 cursor-pointer">Add social profiles</p>
          </div>
        </div>
      </div>
  
      <div class="card mt-6">
        <div class="px-gutter py-4 border-b">
          <h2 class="title m-0">Latest Quiz</h2>
        </div>
  
       
      </div>
    </div>
  
    <div class="card max-w-unset md:max-w-xs w-full flex-none md:ltr:ml-6 md:rtl:mr-6 mt-6 md:mt-0">
      <div class="px-6 py-4 border-b">
        <h2 class="title m-0">Students</h2>
      </div>
  
      
    </div>
  </div>

  
</div>