<form (ngSubmit)="save()" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
    

    <h2 *ngIf="form.get('start').value || form.get('end').value"
        class="headline m-0"
        fxFlex="auto">{{ form.get('start').value + ' ' + form.get('end').value }}</h2>
    <h2 *ngIf="!form.get('start').value && !form.get('end').value"
        class="headline m-0"
        fxFlex="auto">New Schedule</h2>

    <button  class="text-secondary" mat-icon-button type="button">
      <mat-icon [icIcon]="icMoreVert"></mat-icon>
    </button>

    <button class="text-secondary" mat-dialog-close mat-icon-button type="button">
      <mat-icon [icIcon]="icClose"></mat-icon>
    </button>
  </div>

  <mat-divider class="-mx-6 text-border"></mat-divider>

  <mat-dialog-content fxLayout="column">
    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="mt-6 flex-auto">
        <mat-label>Quiz Start Date & Time</mat-label>
        <input cdkFocusInitial formControlName="start" matInput>
       
        
      </mat-form-field>

      <mat-form-field class="sm:mt-6 sm:ml-6 flex-auto">
        <mat-label>Quiz End Date & Time</mat-label>
        <input cdkFocusInitial formControlName="end" matInput>

        
      </mat-form-field>
    </div>

    

    <div class="flex flex-col sm:flex-row">
      <mat-form-field class="flex-auto">
        <mat-label>Quiz Type</mat-label>
        <mat-select>
          <mat-option value="Apples">Lab Quiz</mat-option>
          <mat-option value="Peaches">Home Work</mat-option>
          
        </mat-select>

        
      </mat-form-field>

      <mat-form-field class="sm:ml-6 flex-auto">
        <mat-label>Duration</mat-label>
        <input formControlName="duration" matInput>

      
      </mat-form-field>
    </div>

    <mat-form-field class="flex-auto">
      <mat-label>Instruction</mat-label>
      <textarea formControlName="desc" matInput></textarea>

  
    </mat-form-field>

    <mat-form-field class="flex-auto">
      <mat-label>Schedule Description (Max: 250 characters)</mat-label>
      <textarea formControlName="desc" matInput></textarea>
   
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close type="button">CANCEL</button>
    <button *ngIf="isCreateMode()" color="primary" mat-button type="submit">CREATE SCHEDULE</button>
    <button *ngIf="isUpdateMode()" color="primary" mat-button type="submit">UPDATE SCHEDULE</button>
  </mat-dialog-actions>
</form>


