<div class="body-2 p-6 bg-primary text-primary-contrast">
  <p>TODAY</p>
  <div class="display-1">{{ dayName }}</div>
  <div class="display-1">{{ date }}</div>
</div>

<mat-divider></mat-divider>

<mat-nav-list>
  <h3 matSubheader>UPCOMING QUIZ</h3>
  <a [routerLink]="[]" mat-list-item>
    <h4 matLine>Mathematics Playing With Numbers</h4>
    <p matLine>11:30 AM</p>
  </a>
  <a [routerLink]="[]" mat-list-item>
    <h4 matLine>Mathematics Basic Geometrical Ideas</h4>
    <p matLine>12:00 PM</p>
  </a>
  <a [routerLink]="[]" mat-list-item>
    <h4 matLine>Mathematics Basic Geometrical Ideas</h4>
    <p matLine>01:00 PM</p>
  </a>
  <a [routerLink]="[]" mat-list-item>
    <h4 matLine>Mathematics Basic Geometrical Ideas</h4>
    <p matLine>02:00 PM</p>
  </a>
  <a [routerLink]="[]" mat-list-item>
    <h4 matLine>Mathematics Basic Geometrical Ideas</h4>
    <p matLine>03:00 PM</p>
  </a>

  <a [routerLink]="[]" mat-list-item>
    <h4 matLine>Mathematics Basic Geometrical Ideas</h4>
    <p matLine>04:00 PM</p>
  </a>

  <a [routerLink]="[]" mat-list-item>
    <h4 matLine>Mathematics Basic Geometrical Ideas</h4>
    <p matLine>05:00 PM</p>
  </a>

  <a [routerLink]="[]" mat-list-item>
    <h4 matLine>Mathematics Basic Geometrical Ideas</h4>
    <p matLine>06:00 PM</p>
  </a>
 
  <mat-divider></mat-divider>
 
</mat-nav-list>





